# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/*
.history/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Ignore logging files
*.log